w = 32px
h = 19px
p = 1px
radius = 1000px

.iswitch
	&__container
		display inline-block
		margin-left 2px
		margin-right 2px
		vertical-align sub
		text-align left
		width w
		height h
		padding p
		border-radius radius
		transition background-color .2s linear
		&_on
			background #e54a3b
		&_off
			background #e54a3b
	&__handle
		display inline-block
		height (h - p * 2)
		width @height
		border-radius radius
		transition margin-left .2s linear
		box-shadow 0 1px 4px rgba(0, 0, 0, .2)
		&_on
			background #fff
			margin-left (w - h)
		&_off
			background #fff
		&_manual
			transition-duration .02s
			background #fff
